@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;600&display=swap');

:root {
  --title-color-main: #141414;
  --text-color-black: #000000;
  --title-color-blue: #51A9E1;
  --list-item-shadow: 0px 2px 4px rgba(81, 169, 225, 0.04), 0px 4px 5px rgba(81, 169, 225, 0.02), 0px 1px 10px rgba(81, 169, 225, 0.1);
  --list-item-hover-shadow: 0px 14px 20px rgba(81, 169, 225, 0.04), 0px 6px 22px rgba(81, 169, 225, 0.02), 0px 7px 12px rgba(81, 169, 225, 0.1);
  --background-gradient: linear-gradient(321.42deg, #E7F5FF -34.62%, #FEFEFE 99.7%);
}

* {
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  margin: 0 0 20px 0;
  color: var(--title-color-main);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.section__subtitle {
  margin: 0 0 38px 0;
  color: var(--title-color-main);
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}

.content {
  display: flex;
  gap: 64px;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-wrapper {
  width: 576px;
  height: 576px;
  border-radius: 8px;
  position: relative;
  background-image: url('./img/grey.png'), var(--background-gradient);
}

.drop {
  position: absolute;
}

.drop_1 {
  left: 31px;
  top: 154px;
}

.drop_2 {
  left: 103px;
  top: 43px;
}

.drop_3 {
  right: 113px;
  bottom: 84px;
}

.drop_4 {
  right: 33px;
  bottom: 34px;
}

.circle {
  position: absolute;
  opacity: 1;
  transition: opacity 0.8s;
}

.circle_blue {
  top: 96px;
  left: 78px;
}

.circle_green {
  top: 202px;
  left: 102px;
}

.circle_orange {
  top: 135px;
  left: 150px;
}

.circle_pink {
  top: 57px;
  left: 125px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  border-left: 7px solid transparent;
  box-shadow: var(--list-item-shadow);
  transition: box-shadow 0.3s;
}

.list__item:hover {
  box-shadow: var(--list-item-hover-shadow);
}

.list__item_blue:hover {
  border-color: #77BCE8;
}

.list__item_green:hover {
  border-color: #54B465;
}

.list__item_orange:hover {
  border-color: #FF9C00;
}

.list__item_pink:hover {
  border-color: #D86EC0;
}

.image-wrapper:has( + .list-wrapper .list__item_orange:hover) .circle_green,
.image-wrapper:has( + .list-wrapper .list__item_orange:hover) .circle_blue,
.image-wrapper:has( + .list-wrapper .list__item_orange:hover) .circle_pink {
  opacity: 0;
} 

.image-wrapper:has( + .list-wrapper .list__item_blue:hover) .circle_green,
.image-wrapper:has( + .list-wrapper .list__item_blue:hover) .circle_orange,
.image-wrapper:has( + .list-wrapper .list__item_blue:hover) .circle_pink {
  opacity: 0;
} 

.image-wrapper:has( + .list-wrapper .list__item_green:hover) .circle_orange,
.image-wrapper:has( + .list-wrapper .list__item_green:hover) .circle_blue,
.image-wrapper:has( + .list-wrapper .list__item_green:hover) .circle_pink {
  opacity: 0;
} 

.image-wrapper:has( + .list-wrapper .list__item_pink:hover) .circle_green,
.image-wrapper:has( + .list-wrapper .list__item_pink:hover) .circle_blue,
.image-wrapper:has( + .list-wrapper .list__item_pink:hover) .circle_orange {
  opacity: 0;
} 

.item__title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--title-color-blue);
}

.item__text {
  font-weight: 300;
  font-size: 1rem;
  color: var(--text-color-black);
}

@media (max-width: 1130px) {
  .image-wrapper {
    zoom: 70%;
  }
}

@media (max-width: 970px) {
  .section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 590px) {
  .section {
    padding: 30px 10px;
  }

  .section__title {
    font-size: 1.25rem;
  }

  .section__subtitle {
    font-size: 0.75rem;
    margin-bottom: 16px;
  }

  .content {
    gap: 16px;
  }

  .image-wrapper {
    zoom: 50%;
  }

  .item__title {
    font-size: 0.75rem;
  }

  .item__text {
    font-size: 0.75rem;
  }

  .list {
    gap: 10px;
  }

  .list__item {
    padding: 10px;
  }
}